{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" type="text/css" href="static/css/styles-main.css">
{% endblock %}

{% block component %}
<div class="bg-main-img">
    <img src="static/images/img-background-main-2.jpg" alt="">
    <div class="typewriter-container">
        <span class="typewriter" style="--n:500">Do you harbor the love for <b>travelling</b>? A desire to immerse yourself in <b>nature</b> and <b>diverse cultures</b>? Perhaps you have a passion for capturing moments in time through the lens of your <b>camera</b>? Yet, at the same time, do you revel in the comfort of your own home, relishing in the warmth of your favorite tea, engaging in <b>code</b> or <b>reading</b> a book or putting pen to paper? If so, you have found the <b>paradox</b> you have been looking for.</span>
    </div>
    <img class= "img-over" src="static/images/tln-logo-round.svg" alt="">
    <!-- <p class="bg-title">The <b>lazy nomads</b></p> -->
</div>
<div class="wrapper-thumbnail">
    <div class="images-thumbnail">
        <img src="static/images/DSCF0541.JPG" alt="">
        <p class="images-thumbnail-text" style="color:#38A3A5;">We <b>write.</b></p>
    </div>
    <div class="images-thumbnail">
        <img src="static/images/DSCF0886.JPG" alt="">
        <p class="images-thumbnail-text">We <b>capture.</b></p>
    </div>
    <div class="images-thumbnail">
        <img src="static/images/DSCF1241.jpg" alt="">
        <p class="images-thumbnail-text" style="color:#38A3A5;">We <b>build.</b></p>
    </div>                
</div>
{% endblock %}